:root {
    /* --satisfy: 'Satisfy', cursive; */
    /* font-family: ; */
    --satisfy: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(/img/pexels-lumn-316466.jpg) center / cover no-repeat;

    width: 1000px;
    height: 500px;
}

.todolist {
    background-color: #e6e0e0;
    /* border: 1px solid #9747FF; */
    border-radius: 20px;

    width: 80%;
    height: 550px;

    margin: 2em 30% 0;
    
    text-align: center;
}

.todolist .logo {
    margin-top: 0.5em;
}

.addTask {
    font-family: 'Arapey', serif;

    display: flex;
    justify-content: space-between;

    width: 70%;
    margin: 0 auto 2em;
}

.addTask .formInput {
    width: 60%;
}

.addTask button {
    background-color: #c296fb;
    border-radius: 5%;
    border: none;

    font-family: var(--satisfy);
    font-size: larger;
    font-weight: lighter;
    
    padding: 0.5em;
    width: 30%;
    
    cursor: pointer;
}

.taskList {
    margin: auto;
    width: 100%;
    max-height: 375px;
}

.listTitles {
    width: 100%;

    font-family: var(--satisfy);
    font-size: x-large;
    display: flex;
    justify-content: space-around;
}

.taskDescription {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1em auto; 
    padding-bottom: 0.3em;

    font-family: 'Arapey', serif;
    font-size: 19px;

    width: 85%;
    border-bottom: 1px gray dotted;
}

.taskDescription .taskDelete {
    width: 2%;
    cursor: pointer;
}

.taskName {
    width: 45%;
}


